.row-home {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
}

.home-head {
    flex: 1;
    align-items: center;
    font-family: monospace;
    /* border: solid 5px red; */
}

.home-head h1 {
    margin-left: 10%;
    margin-right: 10%;
    font-size:calc(19px + 3vw);
    font-weight: bolder;
}

.home-head h2 {
    margin-left: 10%;
    margin-right: 10%;
    font-size:calc(10px + 1vw);
    font-weight: bolder;
    font-style: italic;
}

.home-message {
    flex: 1;
    align-items: center;
    margin-bottom: 7vh;
    font-family: monospace;
    /* border: solid 5px red; */
}
.home-message p{
    margin-left: 10%;
    margin-right: 10%;
}

.home-image {
    flex: 0;
    margin-left: 5%;
    margin-right: 5%;
    /* border: solid 5px red; */
}

.home-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25vw;
    min-width: 250px;
    max-width: 350px;
    border-radius: 50%;
}